target
out
/.bloop
/.metals
/project/metals.sbt
/.idea/workspace.xml
/.idea/vcs.xml
/.idea/libraries
/.idea/artifacts
/.idea/modules/sparktreeinterpreter.iml
/.idea/modules/sparktreeinterpreter-build.iml
/.idea/misc.xml
/.idea/compiler.xml
